ner.py
synthetic.py
fahmitha p a.pdf
.vscode
__pycache__
modified_document.pdf
files.py
pdf.py
decrypted-pdf.pdf
AC_STATEMENT_105001XXXX1727_29JUN2023_05JUL2023_06072023151605.pdf
masked.pdf
unmasked.pdf